body{
    display: flex ;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.calculator{
    border: 3px black solid;
    padding: 10px;
    min-width: 275px;
  
}

#screen{
    border: 2px black solid;
    height: 100px;
    margin-bottom: 10px;
    font-size: 40px;

}

.container{
    display: flex;
    flex-direction: column;
}

button{
    font-size: 35px;
    padding: 0px 20px;
    height: 80px;
    width: 80px;

}

#box1{
  
    text-align: right;
}



